---
layout: print
permalink: /resume-print/
---

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Phil Hawkins - @phil-harmoniq{% if page.title %} - {{ page.title }}{% endif %}</title>
  
  {% include assets.html %}
  {% include orientation.html %}
  {% include print-assets.html %}
</head>

<!-- Scrollpy body -->
<body class="main-background">

  <div class="about-style">
    {% include resume-header-print.html %}
  
    <hr>
  
    {% include resume-template-print.html %}
  </div>

</body>

</html>