body {
    font-family: var(--main-font);
    background-color: var(--jungle);
}

.card {
    border-radius: 0 !important;
    border: 0;
    padding-right: 0;
}

.container-fluid {
    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/
    margin-right: auto;
    margin-left: auto;
    
}

.shadow {
    -webkit-box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.50);
    -moz-box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.50);
    box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.50);
}

.dark-card {
    background-color: var(--jungle);
    color: var(--platinum);
}

.light-card {
    background-color: var(--platinum);
    color: var(--jungle);
}

.green-card {
    background-color: var(--rich-green);
    color: var(--platinum);
}

.blue-card {
    background-color: var(--oxford-blue);
    color: var(--platinum);
}

.brown-card {
    background-color: var(--brown-bean);
    color: var(--platinum);
}

.post-time {
    font-size: 12px;
    font-style: italic;
}

#main-content {
    padding-top: 50px;
}

:root {
    /* Primary palette: Smooth */
    --eerie-black: rgb(23, 25, 25);
    --jungle: rgb(28, 35, 33);
    --onyx: rgb(53, 57, 59);
    --silver-sand: rgb(179, 192, 199);
    --platinum: rgb(231, 232, 235);
    --rich-green: rgb(6, 48, 60);
    --raspberry: rgb(150, 15, 54);
    --chocolate: rgb(137, 68, 0);
    --brown-bean: rgb(60, 30, 0);
    --army-green: rgb(86, 80, 9);
    --citrine: rgb(213, 199, 11);
    --green-cyan: rgb(0, 150, 99);
    --viridian-green: rgb(5, 160, 153);
    --cerulean: rgb(0, 164, 213);
    --sea-blue: rgb(0, 105, 137);
    --deep-sea-blue: rgb(0, 85, 111);
    --electric-blue: rgb(5, 81, 160);
    --imperial-blue: rgb(5, 36, 150);
    --oxford-blue: rgb(3, 21, 86);

    --main-font: "Ubuntu";
}