<!-- Magic fix for switching orientations? -->
<script>
    $( document ).ready(function() {
      var width = $(window).width(),
        height = $(window).height();
      if ((width <= 768)) {
        $('.navbar').removeClass('navbar-fixed-top');
      }
    });
    $( window ).resize(function() {
      var width = $(window).width(),
        height = $(window).height();
      if ((width <= 768)) {
        $('.navbar').removeClass('navbar-fixed-top');
      }
      else {
        $('.navbar').addClass('navbar-fixed-top');
      }
    });
  </script>
</head>