
  <!-- <meta property="og:title" content="{{ page.title }}" />
  <script src="https://utteranc.es/client.js"
    repo="phil-harmoniq/phil-harmoniq.github.io"
    issue-term="og:title"
    label="discussion"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script> -->

  <script src="https://utteranc.es/client.js"
    repo="phil-harmoniq/phil-harmoniq.github.io"
    issue-term="pathname"
    label="discussion"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
