a {
    color: var(--onyx);
}

/* unvisited link */
a:link {
    color: var(--silver-sand);
}

/* visited link */
a:visited {
}

/* mouse over link */
a:hover {
    color: var(--sea-blue);
}

/* selected link */
a:active {

}

a.dark-card {
    color: var(--platinum);
}

/* unvisited link */
a:link.dark-card {
}

/* visited link */
a:visited.dark-card {
}

/* mouse over link */
a:hover.dark-card {
    color: var(--silver-sand);
    text-decoration: underline;
}

/* selected link */
a:active.dark-card {

}

.entry a {
    color: var(--onyx);
    text-decoration: underline;
}

/* unvisited link */
.entry a:link {
}

/* visited link */
.entry a:visited {
}

/* mouse over link */
.entry a:hover {
    color: var(--sea-blue);
}

/* selected link */
.entry a:active {

}

.navbar-default .nav .dropdown .dropdown-menu a {
    color: var(--platinum);
}

.navbar-default .nav .dropdown .dropdown-menu a:hover {
    color: var(--onyx);
    background-color: var(--platinum);
}
