body {
    background-color: #1c2321;
}

.wrapper {
    max-width: calc(1000px - (30px * 2))
}

.page-content.styled {
    background-color: #e7e8eb;
}

.site-header {
    background-color: #1c2321;
}

.site-footer {
    background-color: #1c2321;
}

.footer-col-wrapper {
    color: #e7e8eb !important;
}

a.page-link {
    color: #e7e8eb !important;
}

a.site-title {
    color: #e7e8eb !important;
}

a.dark-button {
    color: #e7e8eb;
    background-color: #1c2321;
    border-radius: 5%;
    padding: 5px;
    margin: 50px !important;
}

a.dark-button:hover {
    color: black;
    text-decoration: none;
    background-color: #a5a5a5;
}

a.dark-button:active {
    color: #e7e8eb;
    background-color: #1c2321;
}

.columns-2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.columns-3 {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.resume-frame {
    padding: 10px;
}

.no-border {
    vertical-align: top;
    border: 0;
}

table.no-border {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

header.site-header {
    border-top: 0px;
}

svg.header-icon {
    vertical-align: -6px;
    height: 26px;
    width: 26px;
}

.icon--linkedin {
    margin-left: 15px;
    margin-right: 15px;
}

header.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #0b0e0d;
    z-index: 1;
}

footer.site-footer {
    border-top: 1px solid #0b0e0d;
}

main.page-content {
    padding-top: 86px;
}

@media print
{
    main.page-content {
        padding-top: 0px;
    }

    .site-header {
        display: none !important;
    }
    .site-title {
        display: none !important;
    }
    .page-content {
        padding: 0px;
    }
    .site-footer {
        display: none !important;
    }
    .dark-button {
        display: none !important;
    }
    .print-hide {
        display: none !important;
    }
}
