.main-img {
    width: 71%;
}

.download {
    color: var(--onyx);
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.row-pad {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.docs-panel {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.code-panel {
    padding: 15px;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    color: var(--platinum);
    background-color: var(--jungle);
}

.navbar-dark {
    --background: var(--platinum);
    --border: var(--jungle);
    --title-color: var(--jungle);
    --text-color: var(--onyx);
    --link-hover: var(--silver-sand);
    --hover-background: var(--jungle);
    --active-hover: var(--platinum);
    --active-background: var(--jungle);
}

.vscode-background {
    background-image: url("/assets/images/netpkg-tool/vscode.png");
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 345px; 
    line-height: 340px;

    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
}

.logo-img {
    width: 300px;
}

.footer-card {
    background-color: var(--platinum);
    color: var(--jungle);
}

.shadow {
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
}
