---
layout: default
---

<div id="main-content" class="container-fluid light-card">
    
  <div class="container extra-pad">
    <div class="row">
      <div class="col-md-3 blog-menu well card light-card light-shadow">
        <img src="{{ site.avatar }}" class="avatar shadow"/>
        <p></p>
        <p>Software Engineer & Linux Enthusiast</p>
          <li><a href="/blog/dotnet" class="btn card dark-card" role="button">C#/.NET</a></li>
          <li><a href="/blog/linux" class="btn card dark-card" role="button">Linux</a></li>
      </div>
      <div class="col-md-9 posts">
        {{ content }}
      </div>
    </div>
  </div>
  
</div>
