---
layout: default
---

{{ content }}

<!-- Footer Panel -->
<div class="container-fluid special-shadow super-hi-box">
    <div class="container">
    </div>
  </div>
<div class="container-fluid dark-card super-hi-box">
  <div class="container">
    <div class="row well card footer-card" align="center">
      {% if site.footer.github %}
        <a href="https://github.com/{{ site.footer.github }}">
          <img src="/assets/images/logos/github-white.svg" class="footer-icon" hspace="4" />
        </a>
      {% endif %}
        
      {% if site.footer.travis %}
      <a href="https://travis-ci.org/{{ site.footer.travis }}">
        <img src="/assets/images/logos/travis-ci-white.svg" class="footer-icon" hspace="4" />
      </a>
      {% endif %}
      
      {% if site.footer.linkedin %}
      <a href="https://www.linkedin.com/in/{{ site.footer.linkedin }}">
        <img src="/assets/images/logos/linked-in-white.svg" class="footer-icon" hspace="4" />
      </a>
      {% endif %}
      <div class="well card footer-card text-center">
        <p>Copyright (c) 2017 - Phil Hawkins</p>
      </div>
    </div>
  </div>
</div>
