<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ site.name }}{% if page.title %}{{ page.title }} – {% endif %}</title>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Ubuntu font CDN from Google -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">

  <!-- Reference Custom CSS -->
  <link rel="stylesheet" href="/meta/style/css/main.css">
  <link rel="stylesheet" href="/meta/style/css/navbar.css">
  <script>
    $( document ).ready(function() {
      var width = $(window).width(),
        height = $(window).height();
      if ((width <= 768)) {
        $('.navbar').removeClass('navbar-fixed-top');
      }
    });
    $( window ).resize(function() {
      var width = $(window).width(),
        height = $(window).height();
      if ((width <= 768)) {
        $('.navbar').removeClass('navbar-fixed-top');
      }
      else {
        $('.navbar').addClass('navbar-fixed-top');
      }
    });
  </script>
</head>

<!-- Scrollpy body -->
<body class="main-background">

  <!-- Top Navbar -->
  {% include navbar.html %}

  <div id="main-content">
    {{ content }}
  </div>

  <!-- Footer Panel -->
  <div class="container-fluid footer">
    <div class="panel panel-default clear-panel text-center">
      <p>Copyright (c) 2017 - MIT License</p>
    </div>
  </div>

</body>

</html>