<!DOCTYPE html>
<html lang="en">

<head>
  <title>Phil Hawkins - @phil-harmoniq{% if page.title %} - {{ page.title }}{% endif %}</title>
  
  {% include assets.html %}
  {% include orientation.html %}
</head>

<!-- Scrollpy body -->
<body class="main-background">

  <!-- Top Navbar -->
  {% include navbar.html %}

  {{ content }}



  <!-- Footer Panel -->
  <div class="container-fluid special-shadow super-hi-box">
      <div class="container">
      </div>
    </div>
  <div class="container-fluid dark-card super-hi-box">
    <div class="container">
      {% include footer.html %}
    </div>
  </div>

</body>

</html>