---
layout: default
---

<div class="light-card">
  <div class="container">
    <div class="row well vertical-center">
      <div class="col-md-5">
        <img src="/assets/images/logos/csharp-black.svg" width="256px" class="center-block" />
      </div>
      <div class="col-md-7">
        <div class="well">
          <h2>Extensive experience with C#/.NET Core</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row well vertical-center">
      <div class="col-md-7">
        <div class="well">
          <h2>Extensive experience with Python</h2>
        </div>
      </div>
      <div class="col-md-5">
        <img src="/assets/images/logos/python-white.svg" width="256px" class="center-block" />
      </div>
    </div>
  </div>
</div>

<div class="light-card">
  <div class="container">
    <div class="row well vertical-center">
      <div class="col-md-5">
        <img src="/assets/images/logos/shell-black.svg" width="256px" class="center-block" />
      </div>
      <div class="col-md-7">
        <div class="well">
          <h2>Extensive experience with Bash shell</h2>
        </div>
      </div>
    </div>
  </div>
</div>
