---
layout: default
---

{% include carousel.html %}

<div class="container-fluid dark-card hi-box special-shadow">
  <div class="container">
    <div class="well vertical-center">
      <div class="col-md-5">
        <img src="/assets/images/logos/csharp-white.svg" height="256px" class="center-block" />
      </div>
      <div class="col-md-7">
        <div class="well">
          <h2>Extensive experience with C#/.NET Core</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid light-card">
  <div class="container">
    <div class="well vertical-center">
      <div class="col-md-7">
        <div class="well">
          <h2>Extensive experience with Python</h2>
        </div>
      </div>
      <div class="col-md-5">
        <img src="/assets/images/logos/python-black.svg" height="256px" class="center-block" />
      </div>
    </div>
  </div>
</div>