---
layout: default
---

<div class="row well dark-card vertical-center">
  <div class="container">
    <div class="col-md-4">
      <img src="/assets/images/logos/csharp-white.svg" width="256px" class="center-block" />
    </div>
    <div class="col-md-8">
      <div class="well dark-card">
        <h2>Extensive experience with C#/.NET Core</h2>
      </div>
    </div>
  </div>
</div>

<div class="row well light-card vertical-center">
  <div class="container">
    <div class="col-md-8">
      <div class="well light-card">
        <h2>Extensive experience with Python</h2>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/assets/images/logos/python-black.svg" width="256px" class="center-block" />
    </div>
  </div>
</div>

<div class="row well dark-card vertical-center">
  <div class="container">
    <div class="col-md-4">
      <img src="/assets/images/logos/shell-white.svg" width="256px" class="center-block" />
    </div>
    <div class="col-md-8">
      <div class="well dark-card">
        <h2>Extensive experience with Bash/Shell</h2>
      </div>
    </div>
  </div>
</div>
